<%- include('./partials/head.ejs') %>

    <body>
        <div class="modal position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalLogin"
            style="height: 100vh;">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h2 class="fw-bold mb-0">Enter the user</h2>
                    </div>
                    <div class="modal-body p-5 pt-0">
                        <form method="post" action="/login">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" id="eamil" name="email"
                                    placeholder="Nombre de usuario">
                                <label for="username">E-mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="password" name="password"
                                    placeholder="Contraseña">
                                <label for="password">Password</label>
                            </div>
                            <% if (locals.signInMessage[0]) { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= locals.signInMessage[0] %>
                                </div>
                                <% } %>
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-lg rounded-3" type="submit">Get into</button>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>